
"
 JustCeyin-Specifications
 ------------------------

 Module of unit tests for org.justceyin.specifications.

 LICENSE-FILLIN
"
license "LICENSE-URL-FILLIN"
module org.justceyin.tests.specifications '0.5.BUILD-NUMBER-FILLIN-BUILD-DATE-FILLIN' {
    shared import ceylon.file '0.5';
    shared import org.justceyin.specifications '0.5.BUILD-NUMBER-FILLIN-BUILD-DATE-FILLIN';
}
