
"
 JustCeyin-Expectations
 ----------------------
 
 Module defining 'expectations' - English-like fluent interface style constructs that provide readable
 declarative assertions via the functional programming capabilities of Ceylon.

 LICENSE-FILLIN
"
license "LICENSE-URL-FILLIN"
by "Martin E. Nordberg III"
module org.justceyin.expectations '0.5.BUILD-NUMBER-FILLIN-BUILD-DATE-FILLIN' {
    shared import ceylon.time '0.5';
}
