
"
 JustCeyin-Specifications
 ------------------------
 
 Module defining classes for behavior-driven design style specifications.
 
 LICENSE-FILLIN
"
license "LICENSE-URL-FILLIN"
by "Martin E. Nordberg III"
module org.justceyin.specifications '0.5.BUILD-NUMBER-FILLIN-BUILD-DATE-FILLIN' {
    shared import org.justceyin.expectations '0.5.BUILD-NUMBER-FILLIN-BUILD-DATE-FILLIN';
}
