
"
 JustCeyin-Expectations
 ----------------------
 
 Module defining 'expectations' - English-like fluent interface style constructs that provide readable
 declarative assertions via the functional programming capabilities of Ceylon.

 BUILDINFO-LICENSE-TEXT
"
license "BUILDINFO-LICENSE-URL"
by "Martin E. Nordberg III"
module org.justceyin.expectations 'BUILDINFO-VERSION.BUILDINFO-NUMBER-BUILDINFO-DATE' {
    shared import ceylon.math '0.5';
    shared import ceylon.time '0.5';
}
