
"
 JustCeyin-Foundations
 ---------------------
 
 Module defining foundational utility level capabilities.

 BUILDINFO-LICENSE-TEXT
"
license "BUILDINFO-LICENSE-URL"
by "Martin E. Nordberg III"
module org.justceyin.foundations 'BUILDINFO-VERSION.BUILDINFO-NUMBER-BUILDINFO-DATE' {

    shared import ceylon.file '0.5';
    import java.base '7';

}
